 
 <%- include('./partials/header.ejs')%>
 <div class="container-fulfid bg-dark">
   <div class="row">
      <div class="col-sm-2">
         <%- include('./partials/sidebar.ejs',{ page_name: 'home' })%>
      </div>
      <div class="col-sm-10">
         <!--main content-->
         <div class="mt-5">
            <div class="text-center">
               <img src="/images/pic.jpg" alt="" class="img-thumbnail"
               width="220px" height="150px">
            </div>
            <div class="mt-5 text-white mx-5 text-justify">
               <h1 class="fw-bold st-font ">Hello,</h1>
               <div class="px-4" style="line-height: 2rem;">
                  <p style="text-indent: 100px;">I am
                  <b class="text-warning"> David</b> Having 5 Years of 
                  full  stack-web 
                  development experience for global businesses, I offer the technical expertise your are seekin for your 
                  web development position 
               </p>
               <p> 
                  Since earning my bachelors degree in software Eng from Comsats University, I have Served as a 
                  web developer at <b class="text-warning">Microsoft</b>,
                  one of the biggest IT compamny.in this position I have led web development Projects for clients in diverse industries
                  includinng technology, Manufacturing, Pharmaceutical,and retail and fainancial service.
               </p>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias excepturi nulla velit reprehenderit facere ducimus saepe laborum praesentium placeat neque beatae, et quo ab eos sint natus id assumenda officiis!</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis iure unde molestiae iusto nesciunt dolor ullam nulla vel provident hic rem at velit delectus quis aliquam odit, iste fugit voluptatibus, nemo eligendi? Quo sit qui blanditiis quasi sed consequuntur maxime vero voluptatem aperiam non. Deserunt beatae libero vitae molestiae.</p>
            </div>
            </div>
            <div class="text-center">
               <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire Me</a>
               <a href="/contact" class="btn btn-outline-info">Contact</a>
            </div>
         </div>
         
      </div>
   </div>
 </div>

 <%- include('./partials/footer.ejs')%>
